.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
}

.description div {
  margin-bottom: 0.5rem;
  width: 270px;
  max-width: 305px;
}

.description h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 32px;
  color: #000000;
}

.description p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.uploadIcon {
  height: 5rem;
  width: 5rem;
}

.dataIcon {
  margin: 0.7rem 0;
  width: auto;
  height: 4rem;
}

.imageIcon {
  height: 5rem;
  width: 5rem;
}

.disclaimer {
  margin: 0 2rem;
  font-size: 16px;
  text-align: center;
  color: gray;
}

.vertcal {
  display: none;
}

@media only screen and (min-width: 768px) {
  .description {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .description div {
    padding: 1rem;
    /* max-width: 300px; */
  }
  .vertcal {
    display: flex;
  }
}
