.homeBody {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 486px;
  background-color: #000000;
}

.top-section {
  z-index: 2;
}

.backgroundImage {
  position: absolute;
  bottom: 0;
  left: -2.25rem;
  width: auto;
  height: 100%;
}

.descriptionSection {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .missionMobile {
    display: none;
  }
  .mainSection {
    padding: 0 5rem;
  }

  .backgroundImage {
    left: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
}
