.mission {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  margin: 0;
  width: 5rem;
  height: auto;
}

.line {
  width: 90%;
  margin: 0 auto;
  /* margin-bottom: 1rem; */
  text-align: center;
  color: #000000;
}

.mission div {
  width: 100%;
  max-width: 470px;
  height: fit-content;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h2 {
  font-size: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 0.5rem;
}

.mission p {
  margin: 0 1rem;
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .mission {
    position: absolute;
    top: 6rem;
    left: 66%;
    transform: translate(-50%, 0);
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
    /* background-color: #eeeeee; */
    background-color: #272727ce;
    backdrop-filter: blur(5px);
  }

  .mission div {
    margin: 0.25rem;
  }

  .h2 {
    color: #eeeeee;
  }
  .mission p {
    color: rgb(165, 165, 165);
  }

  .line {
    display: none;
  }
}
/* 
@media only screen and (min-width: 1024px) {
  .mission {
    left: 75%;
  }
} */
