.logo {
  position: absolute;
  top: -2rem;
  left: 2.66rem;
  width: 12rem;
  height: auto;
}

.mainContent {
  position: absolute;
  width: 210px;
  height: fit-content;
  margin-top: 8rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #eeeeee;
  z-index: 2;
}

.mainContent p {
  margin-bottom: 2rem;
}

.button {
  width: 100%;
  margin: 0 auto;
  height: 3rem;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  background-color: #28d5db;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: fade-in 2s ease-in forwards;
  transition: 0.5s ease-in;
}

.hover {
  margin: 0 auto;
  width: 10rem;
  animation: fade-in 2s ease-in forwards;
  transition: 0.4s ease-in;
}
.hover:hover {
  width: 13rem;
}

.button:hover {
  color: #2ecacf;
  background-color: #eeeeee;
}

@media only screen and (min-width: 768px) {
  .logo {
    left: 7.75rem;
  }
}
