.logo {
  position: absolute;

  top: -2rem;
  left: 2.3rem;
  width: 12rem;
  height: auto;
}

.mainContent {
  position: absolute;
  width: 200px;
  height: fit-content;
  margin-top: 9rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: #eeeeee;
}

p {
  margin-bottom: 2rem;
}

.button {
  width: 10rem;
  margin: 0 auto;
  height: 3rem;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  background-color: #00d8e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
