.generalData {
  margin-top: 12rem;
  /* margin-bottom: 1rem; */
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 425px;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 12px;
  background-color: #272727ce;
  backdrop-filter: blur(5px);
}

.titleFaces {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleFaces h1 {
  font-size: 28px;
  font-weight: 300;
  height: fit-content;
  margin-bottom: 1rem;
  color: rgb(77, 77, 77);
}

.titleFaces h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 700;
  color: rgb(165, 165, 165);
}

.titleFaces p {
  font-size: 30px;
  font-weight: 700;
  color: #2ecacf;
}

.line {
  width: 60%;
  margin: 1rem 0;
  height: 1px;
  text-align: center;
  background-color: rgb(77, 77, 77);
  border: none;
}

.statContainer p {
  margin: 0.5rem;
}

.avgContainer {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.avg {
  font-size: 50px;
  color: rgb(165, 165, 165);
}

.textArea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 16px;
  width: 300px;
  color: rgb(165, 165, 165);
  background-color: #0303039f;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes button {
  width: 12rem;
  margin: 0 auto;
  height: 3rem;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: rgb(165, 165, 165);
  font-weight: bold;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .generalData {
    margin-top: 0;
  }
}
