.card {
  min-height: 160px;
}

.card ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 16px;
  color: rgb(44, 150, 250);
}

.card p {
  margin-bottom: 1rem;
}

.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
