.list ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 0.25rem;
  width: 10.5rem;
  height: inherit;
  border-radius: 12px;
  background-color: #272727ce;
  backdrop-filter: blur(5px);
}
.card h2 {
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  color: rgb(165, 165, 165);
}

.card p {
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  font-size: 16px;
  font-weight: 300;
}
@media only screen and (min-width: 758px) {
  .list {
    padding: 0 5rem;
  }
}
