.key {
  margin: 1rem auto;
  width: 325px;
  height: 0.5rem;
  display: flex;
  align-items: center;
}

.bar {
  margin: 0.25rem;
  width: 25%;
  height: 100%;
}

.zero {
  color: rgb(212, 41, 41);
}

.oneH {
  color: rgb(43, 197, 43);
}

.red {
  background-color: rgb(212, 41, 41);
}
.orange {
  background-color: rgb(255, 86, 8);
}
.yellow {
  background-color: rgb(251, 255, 0);
}
.green {
  background-color: rgb(43, 197, 43);
}
