.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #000000;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: -2;
}
.logo {
  position: absolute;
  cursor: pointer;
  top: -2rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 12rem;
  height: auto;
}

.backgroundImage {
  position: fixed;
  bottom: 0;
  left: -23rem;
  width: auto;
  height: 450px;
  z-index: -1;
}
