.imageForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 475px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 12px;
  /* background-color: #eeeeee; */
  background-color: #272727ce;
  backdrop-filter: blur(5px);
}

.logo {
  width: 7rem;
  height: auto;
}

.imageForm h1 {
  margin: 1rem;
  font-size: 30px;
  /* color: rgb(165, 165, 165); */
  color: #eeeeee;
}

.imageOptions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input {
  margin: 1rem 0;
  height: 2rem;
  width: fit-content;
  text-align: center;
  font-size: 24px;
  color: #eeeeee;
  border: none;
  border-bottom: 1px solid #eeeeee;
  background-color: inherit;
}

.or {
  margin-bottom: 1rem;
  font-size: 24px;
  color: rgb(165, 165, 165);
}

.fileInput {
  /* margin-left: 50%; */
  position: relative;
  display: flex;
  justify-content: center;
}

.fileInput input {
  position: absolute;
  font-size: 20px;
  border: none;
  color: #eeeeee;
}

.fileInput input[type="file"] {
  display: none;
}

.customFileUpload {
  width: 12rem;
  margin: 0 auto;
  height: 2rem;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #eeeeee;
  font-weight: 300;
  background-color: #2ecacf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imageForm button {
  width: 16rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  height: 5rem;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  background-color: #2ecacf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.imageIcon {
  height: 5rem;
  width: 5rem;
}

.fileError {
  color: red;
}

.disclaimer {
  margin: 2rem 3rem 0.25rem 3rem;
  font-size: 16px;
  text-align: center;
  color: gray;
}

@media only screen and (min-width: 768px) {
  .imageForm button:hover,
  .imageForm button:active {
    width: 20rem;
    color: #2ecacf;
    background-color: #eeeeee3b;
  }
}

@media only screen and (max-height: 610px) {
  .imageForm {
    top: 23rem;
  }
}
