.imageForm {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  width: 90%;
  max-width: 475px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 12px;
  background-color: #eeeeee;
}

.logo {
  margin: 0;
  padding: 0;
  width: 7rem;
  height: auto;
}

.imageForm h1 {
  margin: 0.5rem;
  font-size: 30px;
  color: rgb(165, 165, 165);
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input {
  margin: 0.75rem 0;
  height: 2rem;
  width: fit-content;
  text-align: center;
  font-size: 24px;
  color: rgb(165, 165, 165);
  border: none;
  border-bottom: 1px solid rgb(165, 165, 165);
  background-color: inherit;
}

.or {
  margin-bottom: 1rem;
  font-size: 24px;
  color: rgb(165, 165, 165);
}

.fileInput {
  /* margin-left: 50%; */
  position: relative;
  display: flex;
  justify-content: center;
}

.fileInput input {
  position: absolute;
  font-size: 20px;
  border: none;
}

.fileInput input[type="file"] {
  display: none;
}
.customFileUpload {
  width: 12rem;
  margin: 0 auto;
  height: 2rem;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 100;
  border: none;
  color: rgb(165, 165, 165);
  font-weight: 300;
  background-color: #272727ce;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form button {
  width: 16rem;
  margin: 0 auto;
  margin-top: 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  background-image: linear-gradient(120deg, #28d5db, #2ecacf, #28d5db, #b0ecee);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  color: #166264;
  background-image: linear-gradient(120deg, #b0ecee, #b0ecee);
}

@media only screen and (max-height: 610px) {
  .imageForm {
    top: 23rem;
  }
}
