body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: #3f3f3f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(23, 13, 53, 0.712);

  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.response-data {
  display: flex;
}

.loading {
  text-align: center;
  color: #eeeeee;
}

.submitted-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.image-container {
  width: 75%;
  margin: 0 auto;
}

.red {
  color: rgb(212, 41, 41);
}
.orange {
  color: rgb(255, 86, 8);
}
.yellow {
  color: rgb(251, 255, 0);
}
.green {
  color: rgb(43, 197, 43);
}

.loading-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 38rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background-color: #28d5db;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;

  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
    background-color: #eeeeee;
  }
}

.newImage {
  position: absolute;
  left: 50%;
  top: 8rem;
  transform: translate(-50%, 0);
  width: 12rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  background-color: #2ecacf;
  cursor: pointer;
}
